<!doctype html>
<html>
<head>

    <title>tablelayout</title>
</head>
<body>
<table>

</table>
    <tr>
        <th>column one</th>


        <th>column two</th>

      <tr>
       <td>
    <img src="../../assests/trialimage.jpg" height="200" width="200"/>
          <img src="../../assests/trialimage.jpg" height="200" width="200"/>
          <img src="../../assests/trialimage.jpg" height="200" width="200"/>
          <img src="../../assests/trialimage.jpg" height="200" width="200"/>
          <img src="../../assests/trialimage.jpg" height="200" width="200"/>
           <img src="../../assests/trialimage.jpg" height="200" width="200"/><img src="../../assests/trialimage.jpg" height="200" width="200"/>
       </td>
     </tr>
    </tr>
    <tr>
       <td>
         <iframe width="400" height="400" src="https://www.youtube.com/embed/g-iRIl2Zpwo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
     </td>
    </tr>

</table>
</body>
</html>